@font-face {
  font-family: "Archivo Narrow";
  src: url("../../assets/fonts/ArchivoNarrow-Regular.otf") format("otf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Archivo Narrow";
  src: url("../../assets/fonts/ArchivoNarrow-Bold.otf") format("otf");
  font-style: normal;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Color variables
$color-purple: #551a8b;
$color-skyblue: #74ebd5;

body {
  font-family: "Archivo Narrow", sans-serif;
  color: $color-purple;
  background: linear-gradient(to left, $color-skyblue, #acb6e5);
  overflow: hidden;
}

// Useful mixins and animations
@mixin shadow-style {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 12px 30px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@mixin border-style {
  border: 2px $color-purple solid;
  border-radius: 33px;
}

// Animation for error message when pressing buttons (.message)
@keyframes msg-fade-in {
  0% {
    transform: translate(-50%, -25%);
  }

  50% {
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -75%);
    opacity: 0;
  }
}
