@font-face {
  font-family: "Archivo Narrow";
  src: url("../fonts/ArchivoNarrow-Regular.otf") format("otf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Archivo Narrow";
  src: url("../fonts/ArchivoNarrow-Bold.otf") format("otf");
  font-style: normal;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Archivo Narrow", sans-serif;
  color: rgb(85, 25, 139);
  background: linear-gradient(to left, #74ebd5, #acb6e5);
  overflow: hidden;
}

@mixin box-style {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 25px;
}

@keyframes msg-fade-in {
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-50%);
    opacity: 0;
  }
}
