// counter outer layout
.counter-alignment {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// inner layout
.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 80vw;
  row-gap: 10vh;

  @include shadow-style;
  background-color: white;
  border-radius: 33px;
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;

  @include border-style;
  @include shadow-style;
  font-weight: 700;
  text-align: center;
  padding: 0.33rem;
  overflow: hidden;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 75%;

  button {
    @include border-style;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    font-size: 1.03rem;
    padding: 0.33rem;

    background-color: white;
    box-shadow: 0 5px #999;

    cursor: pointer;

    &:hover {
      background-color: $color-skyblue;
      color: white;
    }

    // pressing effect
    &:active {
      transform: translateY(2px);
      box-shadow: 0 1px #666;
    }
  }

  .reset {
    margin-top: 0.6rem;
  }
}

// error message when pressing buttons.
.message {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 700;
  color: #7209b7;
  opacity: 0;

  animation: msg-fade-in 2s ease-in-out;
}
