@media only screen and (min-width: 500px) {
  .links {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1000px) {
  h1 {
    font-size: 2.8em;
  }

  .display {
    min-height: 60px;
    padding: 1em;
  }
  .buttons {
    column-gap: 20px;

    button {
      flex: 1;
      min-height: 60px;
      margin-bottom: 0px;
    }

    .plus,
    .minus {
      margin-bottom: 0;
    }

    .minus {
      order: 3;
    }
    .reset {
      order: 2;
    }
  }
}
