@media only screen and (min-width: 700px) {
  .links i {
    font-size: 2.2em;
  }

  h1 {
    font-size: 2.2rem;
  }

  .display {
    min-height: 3.1rem;
    font-size: 1.45rem;
    padding: 0.48em;
  }

  // change order and layout of buttons
  .buttons {
    column-gap: 1.25rem;

    button {
      flex: 1;
      min-height: 3.1rem;
      font-size: 1.45rem;
    }

    .plus,
    .minus {
      margin-bottom: 0;
    }

    .minus {
      order: 3;
    }
    .reset {
      order: 2;
    }
  }

  .message {
    font-size: 1.25rem;
  }
}
