@font-face {
  font-family: "Archivo Narrow";
  src: url("../fonts/ArchivoNarrow-Regular.otf") format("otf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Archivo Narrow";
  src: url("../fonts/ArchivoNarrow-Bold.otf") format("otf");
  font-style: normal;
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Archivo Narrow", sans-serif;
  color: #551a8b;
  background: linear-gradient(to left, #74ebd5, #acb6e5);
  overflow: hidden;
}

@keyframes msg-fade-in {
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-50%);
    opacity: 0;
  }
}
.links {
  position: absolute;
  top: 2.5vh;
  left: 10vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5vh;
  width: 80vw;
}
.links i {
  font-size: 1.75rem;
}
.links i:hover {
  color: white;
}

.counter-alignment {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.counter {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 80vw;
  row-gap: 20vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 12px 30px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: white;
  border-radius: 33px;
}

h1 {
  font-size: 1.8rem;
}

.display {
  border: 2px #551a8b solid;
  border-radius: 33px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 12px 30px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 75%;
  height: 2.5rem;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.4em;
  overflow: hidden;
}

.buttons {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 75%;
}
.buttons button {
  border: 2px #551a8b solid;
  border-radius: 33px;
  width: 45%;
  height: 2.5rem;
  font-size: 1.2rem;
  margin: auto auto;
  background-color: white;
  box-shadow: 0 5px #999;
  cursor: pointer;
}
.buttons button:hover {
  background-color: #74ebd5;
  color: white;
}
.buttons button:active {
  transform: translateY(2px);
  box-shadow: 0 1px #666;
}
.buttons .plus,
.buttons .minus {
  margin-bottom: 0.6rem;
}

.message {
  position: absolute;
  top: -50px;
  text-align: center;
  font-weight: 700;
  color: #7209b7;
  opacity: 0;
  animation: msg-fade-in 2s ease-in-out;
}

@media only screen and (min-width: 700px) {
  .links i {
    font-size: 2.2em;
  }
  h1 {
    font-size: 2.2rem;
  }
  .display {
    min-height: 3.1rem;
    font-size: 1.45rem;
    padding: 0.48em;
  }
  .buttons {
    column-gap: 1.25rem;
  }
  .buttons button {
    flex: 1;
    min-height: 3.1rem;
    font-size: 1.45rem;
  }
  .buttons .plus,
.buttons .minus {
    margin-bottom: 0;
  }
  .buttons .minus {
    order: 3;
  }
  .buttons .reset {
    order: 2;
  }
  .message {
    font-size: 1.25rem;
  }
}