@font-face {
  font-family: "Archivo Narrow";
  src: url("../fonts/ArchivoNarrow-Regular.otf") format("otf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Archivo Narrow";
  src: url("../fonts/ArchivoNarrow-Bold.otf") format("otf");
  font-style: normal;
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Archivo Narrow", sans-serif;
  color: rgb(85, 25, 139);
  background: linear-gradient(to left, #74ebd5, #acb6e5);
  overflow: hidden;
}

.counter-alignment {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.links {
  top: 2.2vh;
  width: 80vw;
  left: 10vw;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
}
.links i {
  font-size: 1.75em;
}
.links i:hover {
  color: white;
}
.counter {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 80vw;
  row-gap: 20vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 25px;
}

h1 {
  font-size: 2em;
  color: rgb(85, 25, 139);
}

.display {
  border: 2px rgb(85, 25, 139) solid;
  width: 75%;
  min-height: 40px;
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
  padding: 14px 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 25px;
}

.buttons {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  column-gap: 5px;
}
.buttons .plus,
.buttons .minus,
.buttons .reset {
  display: flex;
  flex: 1;
  text-align: center;
  min-height: 40px;
  background-color: white;
  border: 2px rgb(85, 25, 139) solid;
  border-radius: 20px;
  font-size: 1em;
  box-shadow: 0 5px #999;
  cursor: pointer;
}
.buttons .plus:hover,
.buttons .minus:hover,
.buttons .reset:hover {
  background-color: #74ebd5;
  color: white;
}
.buttons .plus:active,
.buttons .minus:active,
.buttons .reset:active {
  transform: translateY(2px);
  box-shadow: 0 1px #666;
}
.buttons span {
  margin: auto auto;
}