@font-face {
  font-family: "Archivo Narrow";
  src: url("../fonts/ArchivoNarrow-Regular.otf") format("otf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Archivo Narrow";
  src: url("../fonts/ArchivoNarrow-Bold.otf") format("otf");
  font-style: normal;
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Archivo Narrow", sans-serif;
  color: rgb(85, 25, 139);
  background: linear-gradient(to left, #74ebd5, #acb6e5);
  overflow: hidden;
}

@keyframes msg-fade-in {
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-50%);
    opacity: 0;
  }
}
.counter-alignment {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.links {
  top: 2.5vh;
  height: 5vh;
  width: 80vw;
  left: 10vw;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.links i {
  font-size: 1.75em;
}
.links i:hover {
  color: white;
}

.counter {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 80vw;
  row-gap: 20vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 25px;
}

.display {
  border: 2px rgb(85, 25, 139) solid;
  width: 75%;
  min-height: 40px;
  font-weight: 700;
  font-size: 1.2em;
  text-align: center;
  padding: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 25px;
}

.buttons {
  position: relative;
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.buttons button {
  width: 45%;
  text-align: center;
  min-height: 40px;
  background-color: white;
  border: 2px rgb(85, 25, 139) solid;
  border-radius: 20px;
  font-size: 1.2em;
  font-weight: 500;
  box-shadow: 0 5px #999;
  cursor: pointer;
}
.buttons button:hover {
  background-color: #74ebd5;
  color: white;
}
.buttons button:active {
  transform: translateY(2px);
  box-shadow: 0 1px #666;
}
.buttons span {
  margin: auto auto;
}
.buttons .plus,
.buttons .minus {
  margin-bottom: 10px;
}

.message {
  position: absolute;
  top: -40px;
  text-align: center;
  font-weight: 700;
  color: #7209b7;
  opacity: 0;
  animation: msg-fade-in 2s ease-in-out;
}